# dependencies
/node_modules
/.pnp
.pnp.*

# next.js / build output
/.next/
/out/
/build
*.tsbuildinfo
next-env.d.ts

# testing / coverage
/coverage

# env & secrets
.env
.env.*
!.env.example

# logs
*.log
npm-debug.log*
.pnpm-debug.log*

# misc
.DS_Store
*.pem
.vercel
